# Basic
Flask
Flask-WTF
Flask-Script
Flask-SQLAlchemy
Flask-DebugToolbar
Flask-Migrate

# admin
Flask-Admin

# Athentication
Flask-Security
# Authlib
Flask-Dance[sqla]

# database
psycopg2 

# util
itsdangerous==0.24
six==1.10.0
raven==5.8.1
pytest
sqlalchemy-utils
factory_boy

# dev
# livereload==2.4.0
# nose==1.3.7
# coverage==4.0.2
# pylint==1.4.4
glob2==0.4.1
bcrypt
ipython

# deploy
gunicorn
# Fabric==1.10.2
